/*----------------------------------------sets font----------------------------*/
#htmlBlog{
    background-color: #ffffff;
    height:auto;
    width:auto;
    font-family: 'Arial',"Times New Roman" ;
}
/*----------------------------------------styles page----------------------------*/
#bodyBlog{
    height:45%;
    width:75%;
    background-color:#F4EDD3;
    margin-left:15%;
    margin-right:5%;
    margin-top:2%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom:auto;
    position: relative;
}

/*---------------------------------------places the image----------------------------*/
#man{
    height:70%;
    width:20%;
    margin-left:5%;
    margin-right:auto;
    margin-top:6%

}
/*----------------------------------------styles the h1Blog element----------------------------*/
#h1Blog{
    height:70%;
    width:70%;
    float:right;
    font-size: 20pt;
    margin-right:auto;
    margin-top:10%;

}
/*----------------------------------------styles the pBlog element----------------------------*/
#sideBlog{
    position: relative;
    height:70%;
    width:100%;

    font-weight: lighter;
   /* border: 5px solid #000000;*/
    margin-right:auto;
    margin-top:2%;
    margin-bottom: auto;

}
/*----------------------------------------styles the inboxBlog element----------------------------*/
#articleBlog{
    position: relative;
    margin-top:5%;
    margin-left:10%;
    padding-bottom: 5%;
    margin-right:10%;
    background-color:#ffffff;
    height:70%;
    width:80%;
}
/*----------------------------------------styles the h2Blog element----------------------------*/
#h2Blog{
    height:25%;
    width:25%;
    font-size: 20pt;
    font-weight: bold;
    /* border: 5px solid #000000;*/
    margin-left:74%;
    margin-right:auto;
    margin-top:3%;

}
/*----------------------------------------styles the arrow div ----------------------------*/


.arrow-down {
    width: 0;
    height:0;
    border-left: 60px solid transparent;
    border-right:2px solid transparent;
    margin-left: 80%;
    margin-right: auto;
    border-top: 50px solid #ffffff;
}

/*-------------------------This styles the "Click to View Component buttons---------------------------*/
#but:hover{
    transform: skewX(30deg);
    background-color: #00FF00;
}
form{

    font-size: 20pt;
    text-align: center;

}
#but {
    font-size: 20pt;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin-left: -80px;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #ababab;
}