
/*----------------The following is for the cta component------------------------*/


#bodyCTA{
    margin-top:150px;
    background-image:url("../img/kitchen.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#cta{
    margin-top:2px;
    margin-bottom:180px;
    padding:auto;
    text-align:center;
    width:auto;
    font-family: 'Baskerville Regular',"Times New Roman" ;
    color:#ffffff;
}
#h1CTA{
    margin-top:5%;
    margin-left:5%;
    margin-bottom: -25px;
    padding-bottom:0;
    padding-top:8%;
    width:90%;
    font-size:28pt;
    font-weight:lighter;
    text-align:center;


}
#h2CTA{
    padding-top: 5px;
    margin-top:2px;
    margin-left: 20%;
    height:auto;
    width:60%;
    font-size:80pt;
    font-weight: 100;
    letter-spacing: 5px;
    text-align:center;
    margin-bottom:20px;



}

#h3CTA{
    margin-top:80px;
    margin-left:19%;
    width:60%;
    font-size:8pt;
    font-weight:lighter;
    text-align:center;
}

u{
    text-decoration:none;
    border-bottom: 3px solid #ffffff;


}






/*-------------------------This styles the "Click to View Component buttons---------------------------*/
#but:hover{
    transform: skewX(30deg);
    background-color: #00FF00;
}
form{

    font-size: 20pt;
    text-align: center;

}
#but {
    font-size: 20pt;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5C3E1F;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin-left: -80px;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #ababab;
}







