#outBox{
    height:2400px;
    width:1800px;
    background-color:#ffffff;
    position: fixed;
}
#bubble{

    width:90%;
    height:30%;
    margin-left:5%;
    margin-top:5.5%;
    margin-right:auto;


}

#man{

    width:50%;
    height:30%;
    margin-left:5%;
    margin-top:-50%;
    margin-right:auto;

}