/*----------------------------Styles the body-----------------*/
#bodyFea{
    height:100%;
    width:100%;
    background-color: #ffffff;


}

/*-----------------Styles the section content--------------------*/
#FeaWrap{
    margin-top: 200px;
    background-color: #131b25;
    height:450px;
    width:90%;
    margin-left:5%;
    margin-right:auto;
    position: fixed;
}
/*----------------------Styles the main title-----------------------*/
#h1Fea{
    font-size: 45pt;
    color:#ffffff;
    margin-left: 10%;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 25px;
}
/*----------------------Styles the images----------------------------*/
#num1,#num2,#num3,#num4{
    /*border: 5px solid #ffffff;*/
    margin-left: 40px;
    width: 125px;
    height: 125px;
}

#num2,#num4{

    margin-left:10%;

}
#num1,#num3{
    float:left;
    margin-left:8%;

}
#num3,#num4{
    margin-top: 25px;
}

#num2{
    float:right;
    margin-top:-12%;
    margin-right: 30%;
}

/*-------------------styles the h2 elements-----------------------------------------------*/

#h2Fea1,#h2Fea2,#h2Fea3,#h2Fea4{
    margin-top: 0;
    /*border: 5px solid #ffffff;*/
    padding: 0;
    color: #ffffff;
    margin-left: 80px;

}

/*------------------------styles paragraphs------------------------------------------*/

#pFea1,#pFea2,#pFea3,#pFea4{
   /* border: 5px solid #ffffff;*/
    color: #ffffff;
    margin-left: 80px;
    width: 150px;

}

/*-----------position the text next to image #num1----------------------*/
#h2Fea1,#pFea1{

    margin-left:20%;
    margin-right:50%;
    width:400px;
    margin-top: 5px;

 }

#pFea1{

    margin-top: 5px;
}

/*-----------position the text next to image #num2----------------------*/
#h2Fea2,#pFea2{


    margin-left:70%;
    margin-right:70%;
    width:400px;
    margin-top:3px;
}


#h2Fea2{
    margin-top:-12%;
}