#bodyFea{
    height:100%;
    width:90%;
    background-color: #ffffff;





}


#FeaWrap{
    margin-top: 200px;
    background-color: #131b25;
    height:300px;
    width:80%;
    text-align:center;
    margin-left:15%;
    margin-right:auto;
}
#num1,#num2,#num3,#num4{
    display: inline-block;
    width: 100px;
    height: 100px;
}
#num1,#num2{
    float:left;
    clear:left;

}
#num3,#num4{
    float:right;
    clear:right;

}