

#htmlFoot{
    background-color: #ffffff;


}

#bodyFoot{
    background-color: #e1e2e4;
    width:80%;
    height:100px;
    margin-left:10%;
    margin-bottom: 10%;
    margin-top:10%;
    padding-top:2%;
    margin-right:auto;
}




#inFoot{
    text-align:center;
    background-color:#000056;
    width:100%;
    height:300px;

}
#socMed{
    height:30px;
    width:120px;
}
#add1{
    margin-left:10%;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}


#add2{
    margin-left:40px;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}
#add3{
    margin-left:40px;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}
#add4{
    margin-left:40px;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}
#add5{
    margin-left:40px;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}
#add6{
    margin-left:40px;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline;
    height:50px;
    width:150px;
}






